

:root {

  --black: #000000;
  --grey: #ffffff;
  --white: rgb(255, 255, 255);
  --background: rgba(255, 255, 255, 0.37);
}

html {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}
h1{
  background-color: #000000;
}